#mainbody {
    border-radius: 5px;
    position:absolute;
    z-index: -2;
    margin-top: 100px;
    margin-left: 15%;
    width: 85%;
    background-color: rgb(255, 255, 255);
}


.post {
    border-radius: 5px;
    background-color: rgb(239, 245, 247);
    padding: 20px;
    margin: 20px;
    font-size: 16px;
}

pre {
    border-radius: 5px;
    font-size: 12px;
}

.post h1 {
    color: rgb(15, 65, 139);
    font-family: 'aubrey';
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.post-title-underline {
    margin-top: 0px;
    height: 3px;
    width: 30px;
    background-color: black;
    border-radius: 1px;
    transition: background-color 0.1s linear, width 0.2s ease-in-out;
}

h1:hover + .post-title-underline {
    width: 75px;
    background-color: rgb(56, 81, 163);
}

#plt {
    display: flex;
    justify-content: center;
}

.post a {
    text-decoration: none;
    color: rgb(79, 45, 231);
}

.post a:hover {
    text-decoration: underline;
    color: rgb(55, 124, 202);
}

.coding {
    display: none;
}

.post img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}