#outline {
    font-family: Helvetica;
    background-color: rgb(244, 245, 247);
    border-radius: 3px;
    font-size: 14px;
    position: fixed;
    margin-top: 100px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    width: 223px;
    float: left;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

#outline span {
    width: 100%;
    background-color: rgb(63, 125, 218);
    text-align: center;
    padding-bottom: 5px;
    padding-top: 8px;
    font-size: 16px;
    font-family: 'ikaros';
    letter-spacing: 2px;
    color: whitesmoke;
    margin-bottom: 1px;
}

#outline a {
    font-size: 13px;
    display:flex;
    flex-direction: column;
    text-align: left;
    word-wrap: break-word;
    width: auto;
    margin: 0px;;
    text-decoration: none;
    color: rgb(34, 44, 71);
    padding: 5px;
    padding-top: 8px;
    transition: font-size 0.2s ease-in, color 0.2s linear, background-color 0.2s linear;
}

#outline a:hover {
    font-size: 15px;
    background-color: rgb(63, 125, 218);
    border-radius: 3px;
    color: rgb(252, 252, 252);
}

.udline {
    margin-top: 5px;
    width: 40px;
    height: 2px;
    background-color: rgb(3, 43, 80);
    transition: width 0.2s linear, background-color 0.2s linear;
}

a:hover .udline {
    width: 80px;
    background-color: whitesmoke;
}

