@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');

body, h1, h2, h3, h4, h5, h6, p, a, li, blockquote, code, pre, span {
  font-family: 'Inter', sans-serif !important;
  letter-spacing: 0.01em;
}

body {
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;
  color: #222;
}

h1, h2, h3 {
  font-weight: 600;
}

code, pre {
  font-family: 'JetBrains Mono', monospace !important;
  font-size: 0.95em;
}